<!--footer start-->
<footer class="wrapperfooter footer" id="footer">
<div class="container-fluid wrapper pad_0">
<div class="row copyright_border">
<div class="col-12  col-sm-6 offset-md-4 col-md-4 offset-lg-0 col-lg-2 mrg_top6">
<p class="copyrights">© 2021 Evo Online Ltd. </span>

</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3">

</div>
<div class="col-12 col-sm-6 col-md-4 col-lg-3"></div>
<div class="col-12 col-sm-6 col-md-4 col-lg-4 textalignr">
<div class="col-12  col-lg-12  pad_0 mrgtop_2 textalignr">
<p class=""><a href="" class="footer_links"><i class="fa fa-twitter" aria-hidden="true"></i><a/>&nbsp;&nbsp;&nbsp;<a href="" class="footer_links"><i class="fa fa-linkedin" aria-hidden="true"></i><a/>&nbsp;&nbsp;&nbsp;<a href="" class="footer_links"><i class="fa fa-facebook" aria-hidden="true"></i><a/></p>
</div>
</div>

</div>

</div>
</footer>
<!--footer end-->