<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-center fs-2 mx-auto waves-effect" href="/">Tiki Taka Coaching</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
        <li class="nav-item">
          <a class="nav-link fs-2 waves-effect" aria-current="page" href="/">Home</a>
        </li>
        {% comment %} <li class="nav-item">
        <form class="d-flex">
            <input class="form-control me-2 " type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success"  type="submit">Search</button>
        </form> 
        </li> {% endcomment %}
        {% if request.user.is_authenticated %}
        <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle fs-2" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{request.user}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% comment %} <li><a class="dropdown-item" href="{% url 'playerhome' %}">Your Course</a></li> {% endcomment %}
                {% if UserType == 1 %}
                <li><a class="dropdown-item" href="{% url 'playerhome' %}">profile</a></li>
                <li><a class="dropdown-item waves-effect waves-dark" href="{% url 'course' %}">Courses</a></li>
                {% elif UserType == 2 %}
                <li><a class="dropdown-item" href="{% url 'coachprofile' %}">activities</a></li>
                {% elif UserType == 3 %}
                <li><a class="dropdown-item" href="{% url 'parenthome' %}">profile</a></li>
                {% endif %}
                
                <li><a class="dropdown-item" href="{% url 'logout' %}"> <i class="fas fa-sign-out-alt"></i> Logout</a></li>
            </ul>
            </li>       
        {% else %}
            <li class="nav-item mt-3 ">
                <a href="{% url 'signup' %}" type="button"
                class="btn btn-outline-info btn-md btn-rounded btn-navbar waves-effect waves-light mx-2">Sign up</a>
                <a href="{% url 'login' %}" type="button"
                class=" mx-2 btn btn-outline-danger btn-md btn-rounded btn-navbar waves-effect waves-light">Login</a>
            </li>
        {% endif %}
    </ul>
    </div>
  </div>
</nav>