{% extends 'base.html' %}
{% load static %}

{% block css %}

.marbot{
    margin-bottom: 7px;
	padding-bottom:2px;
    font-size: 13px;
}
.borderbot{ border-bottom: 1px solid #efeeee;}
.star{color:#f7ab21; font-size:17px;}
.titlesize{font-weight:600;}
.choose{font-size:13px;}
.pad_top{padding-top:1%;}
.card_box{box-shadow:1px 1px 7px 1px #e3e1e3;}
.titlecenter{text-align:center;}
.button1{padding:5px; font-size:12px;}
.textright{text-align:right;}
.pad_0{padding:0px;}

hr{
    border: 1px solid black;
}
video {
  /* override other styles to make responsive */
  width: 50%    !important;
  height: auto   !important;
}


{% endblock css %}

{% block content %}

<div class="container-fluid">
    <div class=" col-xs-12 col-sm-12  col-md-12 offset-lg-2 col-lg-8 col-xl-8 pad_top">
        <div class="card card_box">
            <div class="card-body">
                {% if pp %}
                <div class="row pad_top">	
                    <div class=" col-xs-12 col-sm-12  col-md-12 offset-lg-9 col-lg-2 col-xl-2 textright pad_0"><p class="marbot titlesize"><a  href="{% url 'course' %}" type="button" class="btn btn-outline-danger btn-sm button1">Go to Course</a></p></div>
                    <div class=" col-xs-12 col-sm-12  col-md-12 offset-lg-9 col-lg-2 col-xl-2 textright pad_0"><p class="marbot titlesize"><a  href="{% url 'changepassword' %}" type="button" class="btn btn-outline-danger btn-sm button1">Change Password</a></p></div>
                    <div class=" col-xs-12 col-sm-12  col-md-12  col-lg-1 col-xl-1 textright "><p class="marbot titlesize"><a  href="{% url 'editprofile' user.id %}"type="button" class="btn btn-outline-secondary btn-sm  button1"><i class="fa fa-pencil" aria-hidden="true"></i></a></p></div>
                </div>
                {% endif %}
                <h4 class="card-title titlecenter fs-2">{{user.username}} Details</h4>
                <div class="row pad_top">
                    <div
                        class="col-xs-4 offset-sm-4 col-sm-4 col-md-4 offset-lg-0 col-lg-4  offset-lg-0 col-xl-4 pad_top">
                        <div class="card">
                            <div class="">
                                <p class="card-text"> <img class="card-img-top" src="{% static 'images/student.png' %}"
                                        alt="Card image"></p>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 pad_top">
                        <div class="row">
                            <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <p class="marbot titlesize">Full Name </p>
                            </div>
                            <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                <p class="marbot borderbot">{{user.first_name}} {{user.last_name}}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <p class="marbot titlesize">Email Id </p>
                            </div>
                            <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                <p class="marbot borderbot">{{user.email}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <p class="marbot titlesize">Mobile No.</p>
                            </div>
                            <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                <p class="marbot borderbot"> {% if player.PlayerCellNumber %}
                                    {{player.PlayerCellNumber}} {% else %} Details not available {% endif %}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <p class="marbot titlesize">Date Of Birth </p>
                            </div>
                            <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                <p class="marbot borderbot"> {% if player.PlayerDob %} {{player.PlayerDob}} {% else %}
                                    Details not available {% endif %}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <p class="marbot titlesize">Total Score</p>
                            </div>
                            <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                <p class="marbot borderbot">{{player.score}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <p class="marbot titlesize">Date of Joining</p>
                            </div>
                            <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                <p class="marbot borderbot"> {{user.date_joined}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <p class="marbot titlesize">Last Login</p>
                            </div>
                            <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                <p class="marbot borderbot"> {{user.last_login}}</p>
                            </div>
                        </div>
                        <hr>
                        {% if coach %}
                        <h4 class="card-title titlecenter">Coach Details</h4>
                        <div class="row">
                            <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <p class="marbot titlesize">Coach Name </p>
                            </div>
                            <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                <p class="marbot borderbot"> {{coach.CoachId.first_name}}  {{coach.CoachId.last_name}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                <p class="marbot titlesize">Contact Details  </p>
                            </div>
                            <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                <p class="marbot borderbot">{{coach.CoachNumber}}</p>
                            </div>
                        </div>
                        {% else %}
                            {% if pp %}
                            <h3 class="text-center alert alert-danger">Wait Until we assign a coach to you </h3>
                            
                            {% endif %}
                        {% endif %}
                    </div>
                {% if submission %}
                {% if pp %}
                <h1 class="mt-2 text-center fw-bold "> Your Submissions</h1>
                {% else %}
                <h1 class="mt-2 text-center fw-bold "> Player Submissions</h1>
                {% endif %}
                        <ul class="list-group borderradius_0">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-4 col-sm-4 col-md-4 col-lg-4 table_head fw-bold">
                                            <h4>Video</h4>
                                        </div>
                                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 table_head">
                                            <h4>Title </h4>
                                        </div>
                                        
                                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 table_head">
                                            <h4>Submit Date </h4>
                                        </div>
                                        <div class="col-2 col-sm-2 col-md-2 col-lg-2 table_head">
                                            <h4>Marks </h4>
                                        </div>
                                    </div>
                                    <hr>
                                    {% for vedio in submission %}
                                    <div class="row fw-bold fs-4">

                                        <div class="col-lg-4">
                                            <video class="embed-responsive embed-responsive-16by9" poster="{{vedio.thumbnail.url}}"
                                                id="{{content.id}}" width="300" preload="none" height="150" controls="controls">
                                                <source src="{{vedio.vedio.vedio.url}}" type="video/mp4" />
                                            </video>
                                        </div>
                                        <div class="col-lg-3">
                                            <p class="description_text">{{vedio.vedio.VedioTitle}}</p>
                                        </div>
                                        
                                        <div class="col-lg-3">
                                            <p class="description_text">{{vedio.date}} </p>
                                        </div>
                                        <div class="col-lg-2">
                                            <p class="description_text">{{vedio.marks}} </p>
                                        </div>
                                        
                                    </div>
                                    <hr>
                                    {% endfor %}
                                </li>
                            </ul>

                {% for submit in Submissions %}
                
                    <h1>he</h1>
                
                
                {% endfor %}
                {% else %}
                    <h1 class="alert alert-danger fw-bold">Not Submitted Any Vedio Till Now </h1>
                {% endif %}

                </div>

                
            </div>
            <!---card body-->
            <hr>
        </div>
    </div>
</div>

{% endblock content %}