{% extends 'base.html' %}
{% load static %}
{% block css %}

body{
background-color:#f4f0f4;
}

{% endblock css %}

{% block content %}

<div class="container mt-4 bg-grey">
    <div class="row">
        <div class="col-sm-8" id="player">
            <h1>Signup as player </h1>
            <form action="" method="post">
                {% csrf_token %}
                {% for fm in form %}
                {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}<br><br>
                {% endfor %}
                <input type="submit" value="Signup">
            </form>
            <br>
            <div>
                clicko one 
                <button id="coachsign">Coach</button> <button id="parentsign"> Parent</button> <button id="playersign">Player</button>
                
                
            </div>
        </div>
        
    </div>
</div>
{% endblock content %}

{% block js %}

<script>
    let usertype = document.getElementById("usertype");
    
    $("#coachsign").click((e)=>{
        usertype.value = "coach";
    })
    $("#parentsign").click((e)=>{
        usertype.value = "parent";
    })
    $("#playersign").click((e)=>{
        usertype.value = "player";
    })


</script>


{% endblock js %}



